<div class="infopanel">
    <div class="infoimg">
        <img ng-src="img/products/{{product.sku}}.png" alt="{{product.name}}"/>
    </div>
    <div class="infoname">
        {{product.brand}} {{product.name}}
    </div>
    <div class="infodesc">
        {{product.desc}}
    </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">

            <!-- product info -->
            <table class="table table-bordered">

                <tr>
                    <th colspan=3>
                    Specs
                </th>
                </tr>
                <tr ng-repeat="(specName, specValue) in product.specs">
                    <td class="tdRight"><b>{{specName}}</b></td>
                    <td class="tdCenter">{{specValue}}</td>
                </tr>

                <tr class="well">
                    <td class="tdRight" colspan="3" >
                            <img src="img/cart.png" style="padding:3px">
                        <a href="default.htm#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1"
                                style="vertical-align: middle">
                            <b>{{cart.getTotalCount()}}</b> items <!-- , <b>{{cart.getTotalPrice() | currency}}</b> -->
                            <!--
                            <span ng-show="cart.getTotalCount(product.sku) > 0"><br />this item is in the cart</span>
                                -->
                        </a>
                    </td>
                </tr>

            </table>
        </div>

        <!-- buttons -->
        <div class="span4">
            <button 
                class="newbtn" 
                ng-click="cart.addItem(product.sku, product.name, product.price, 1)">
                <i class="icon-shopping-cart icon-white" /> add/remove
            </button>
            <button 
                class="newbtn"
                onclick="window.location.href=''">
                <i class="icon-chevron-left" /> back to store
            </button>
        </div>
    </div>
</div>
