<p class="infopanel">
    Please select the items you want and add them to your cart.<br />
    When you are done, click the shopping cart icon to review your order and check out.<br><br>
    <input type="text" ng-model="search" id="input" placeholder="search for an item" style="text-align:center" >
</p>

<div class="well">
    <img src="img/cart.png" style="padding:3px">
        <a href="index.html#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1"
                style="vertical-align: middle">
            <b>{{cart.getTotalCount()}}</b> items <!-- , <b>{{cart.getTotalPrice() | currency}}</b> -->
        </a>
</div>

    <!-- new stuff -->

    <!-- mixitup -->
    <script src="js/req/jquery.mixitup.min.js" type="text/javascript"></script>
    
    
    <!--
<div class="controls">
  <label>Filter:</label>
  
  <button class="filter" data-filter=".camera">Cameras</button>
  <button class="filter" data-filter=".mic">Microphones</button>
  
  <label>Sort:</label>
  
  <button class="sort" data-sort="myorder:asc">Asc</button>
  <button class="sort" data-sort="myorder:desc">Desc</button>
</div>
-->


<div id="Container" class="container">
    <div class="testclass {{gear.cat}}" ng-repeat="gear in store.products | orderBy:'cat' | filter:search" 
                            style="{{cart.getHL(gear.sku)}};
                                  cursor: pointer;
                                  background-color: {{cart.colorize(gear.cat)}}"
                            ng-click="cart.addItem(gear.sku, gear.name, gear.ava, 1); colorchange(gear.sku)"
                onmouseover = "" >
            <img class="imgc" ng-src="img/products/{{gear.sku}}.png" alt="{{gear.name}}" />
        <div class="descbox">
            <a href="#/equipment/{{gear.sku}}" ng-click="$event.stopPropagation()"><b>{{gear.brand}} {{gear.name}}</b></a>
            <br>
            <!--
            <div class="desctext">
                {{gear.desc}} {{gear.cat}}
            </div>
            -->
        </div>
    </div> <!-- end of cell -->
</div> <!-- end of container-->




<!--
<div mix-it-up></div>
</div> 
-->

    <!-- end of new stuff -->

    <div class="well">
        <img src="img/cart.png" style="padding:3px">
            <a href="index.html#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1"
                    style="vertical-align: middle">
                <b>{{cart.getTotalCount()}}</b> items <!-- , <b>{{cart.getTotalPrice() | currency}}</b> -->
            </a>
    </div>
